.tabs__box, .information-tab, .section-one__heading, .section-one__heading--navigation, .section-one__heading--userBlock, .section-one__content--transfer, .section-three__carousel, .obj__info, .obj__info--price, .obj__info--btn, .section-six__title, .section-six__navigation, .section-five__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs__section, .tabs__active, .section-one, .section-three__carousel--obj, .section-six__email, .section-five, .section-five__testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section-two {
  position: relative;
  height: 100vh;
  background-color: #f7f8f3;
  padding-top: 3rem;
}

.section-two__banner {
  border: 13px solid #ced6af;
  max-width: 44rem;
  width: 70%;
  margin: 0 auto 3rem;
  text-align: center;
  padding: 1.8rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #1c1c1b;
}

.section-two__banner--title {
  font-weight: 300;
  margin-bottom: 1rem;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.tabs {
  width: 90%;
  border-bottom: 2px solid #ced6af;
}

.tabs__box {
  width: 85%;
  text-align: left;
}

.tabs__section {
  opacity: 0.5;
  cursor: pointer;
  height: 100%;
  margin-bottom: -2px;
}

.tabs__active {
  opacity: 1;
  border-bottom: 2px solid #000;
  height: 100%;
  outline: none;
}

.tabs__title {
  font-size: 1.9rem;
  color: #1c1c1b;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 300;
  padding-top: 0.4rem;
}

.information-tab {
  width: 100%;
  margin-top: 3rem;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.information-tab__left {
  width: 50%;
  display: none;
}

.information-tab__left--title {
  font-size: 1.4rem;
}

.information-tab__left--text {
  width: 75%;
  font-size: 1.125rem;
  color: #6e774a;
  font-weight: 300;
  margin-top: 2rem;
  line-height: 2.2;
  letter-spacing: 0.05rem;
}

.information-tab__right--foto {
  margin-bottom: 1rem;
}

.activeTab {
  display: block;
}

@media screen and (max-width: 1454px) and (min-width: 1025px) {
  .tabs {
    width: 100%;
  }
  .tabs__box {
    width: 100%;
  }
  .tabs__title {
    font-size: 1.8rem;
  }
  .information-tab {
    width: 100%;
    margin-top: 2rem;
  }
  .information-tab__left {
    width: 100%;
  }
  .information-tab__left--title {
    width: 80%;
    font-size: 1.3rem;
  }
  .information-tab__left--text {
    width: 90%;
    font-size: 1.125rem;
    margin-top: 1.2rem;
    line-height: 1.8;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .section-two {
    height: 65vh;
    padding-top: 2rem;
  }
  .section-two__banner {
    border: 11px solid #ced6af;
    width: 75%;
    margin: 0 auto 2rem;
    padding: 1.5rem;
    font-size: 1.5rem;
  }
  .container {
    width: 100%;
    height: 74%;
    margin: 0 auto;
  }
  .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95%;
    margin: 0 auto;
    border-bottom: 2px solid #ced6af;
  }
  .tabs__title {
    font-size: 1.7rem;
  }
  .tabs__box {
    width: 100%;
  }
  .information-tab {
    width: 100%;
    margin-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information-tab__left {
    width: 95%;
    margin: 0 auto;
  }
  .information-tab__left--title {
    width: 80%;
    font-size: 1.3rem;
  }
  .information-tab__left--text {
    width: 100%;
    font-size: 1.1rem;
    margin-top: 1rem;
    line-height: 1.8;
  }
  .information-tab__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 98%;
    margin: 0 auto;
  }
  .information-tab__right--foto {
    padding: 0.4rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .section-two {
    height: 80vh;
    padding-top: 1rem;
  }
  .section-two__banner {
    border: 8px solid #ced6af;
    width: 75%;
    margin: 0 auto 1.5rem;
    padding: 0.1rem;
    font-size: 1.5rem;
  }
  .container {
    width: 99%;
    height: 637px;
  }
  .description {
    height: 560px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs__box {
    width: 100%;
  }
  .tabs__title {
    font-size: 1.4rem;
  }
  .information-tab {
    width: 100%;
    margin-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information-tab__left {
    width: 95%;
    margin: 0 auto;
  }
  .information-tab__left--title {
    width: 80%;
    font-size: 1.3rem;
  }
  .information-tab__left--text {
    width: 100%;
    font-size: 1.1rem;
    margin-top: 1rem;
    line-height: 1.6;
  }
  .information-tab__right {
    height: 35%;
    width: 100%;
    margin-bottom: 3rem;
  }
  .information-tab__right--foto {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    text-align: center;
  }
  .img-2 {
    display: none;
  }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
  .section-two {
    height: 110vh;
    padding-top: 1.5rem;
  }
  .section-two__banner {
    border: 7px solid #ced6af;
    width: 80%;
    margin: 0 auto 1rem;
    padding: 0.6rem;
    font-size: 1.2rem;
  }
  .container {
    width: 100%;
    height: 600px;
  }
  .description {
    width: 95%;
    margin: 0 auto;
    height: 560px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 98%;
    margin: 0 auto;
  }
  .tabs__box {
    width: 100%;
  }
  .tabs__section {
    text-align: center;
    height: 2.2rem;
  }
  .tabs__title {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
  .information-tab {
    width: 100%;
    margin-top: 1.4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .information-tab__left {
    width: 100%;
  }
  .information-tab__left--title {
    width: 100%;
    font-size: 1.1rem;
  }
  .information-tab__left--text {
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
  }
  .information-tab__right {
    height: 220px;
  }
  .information-tab__right--foto {
    padding: 1.5rem 0 0;
    margin-bottom: 0;
  }
  .img-2 {
    display: none;
  }
}

.title {
  font-size: 1.9rem;
  color: #1c1c1b;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 300;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .title {
    font-size: 1.6rem;
    letter-spacing: 0.25rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .title {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .title {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
  }
}

.section-one {
  position: relative;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.4))), url(../img/bg-header.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../img/bg-header.png);
  background-size: cover;
  background-position: center;
}

.section-one__heading {
  position: fixed;
  z-index: 111;
  width: 100%;
  height: 5rem;
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 1px solid white;
}

.section-one__heading--logo {
  width: 33%;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 500;
}

.section-one__heading--logo:hover {
  cursor: pointer;
}

.section-one__heading--logoForSmall {
  display: none;
}

.section-one__heading--navigation {
  list-style-type: none;
  width: 33%;
  margin-left: 3.5rem;
}

.section-one__heading--navigation__item {
  text-decoration: none;
  color: white;
}

.section-one__heading--navigation__item:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.section-one__heading--userBlock {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  width: 33%;
  margin-right: 3.5rem;
}

.section-one__heading--userBlock__item:hover {
  text-decoration: line-through;
  cursor: pointer;
}

.section-one__content {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  position: absolute;
  top: 45%;
  left: 20%;
  -webkit-transform: translateY(-50%), translateX(-50%);
          transform: translateY(-50%), translateX(-50%);
}

.section-one__content--title {
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 1.364;
  letter-spacing: 0.5rem;
  width: 45rem;
  font-weight: 300;
}

.section-one__content--subtitle {
  font-size: 1.5rem;
  color: #f7f8f3;
  letter-spacing: 0.2rem;
  font-weight: 100;
  opacity: 0.7;
  margin-bottom: 2rem;
}

.section-one__content--transfer {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  cursor: pointer;
  height: 3rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20rem;
  margin: 0.2rem 0;
  vertical-align: middle;
}

.section-one__content--transfer__text {
  margin-right: 1rem;
}

.section-one__arrow-down {
  cursor: pointer;
  position: absolute;
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
  bottom: 10%;
  right: 50%;
}

.section-one__arrow-down:hover {
  opacity: 0.6;
}

.activeTransfer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.heading-fill {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-bottom: none;
}

.active {
  text-decoration: line-through;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal {
  width: 32rem;
  max-width: 70%;
  height: 19rem;
  position: fixed;
  opacity: 0;
  display: none;
  top: 90px;
  right: 15%;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.95);
}

.modal__inner--enter {
  height: 2.5rem;
  width: 90%;
  text-align: left;
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #6e774a;
}

.modal__inner--login {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
}

.modal__inner--newAcc {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
}

.modal__inner--form {
  width: 100%;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal__inner--form input,
.modal__inner--form button {
  width: 80%;
  height: 3rem;
  margin: 0.5rem auto;
  border: 1px solid #6e774a;
  border-radius: 3px;
  outline: none;
  color: #6e774a;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.modal__inner--form input::-webkit-input-placeholder,
.modal__inner--form button::-webkit-input-placeholder {
  opacity: 0.7;
}

.modal__inner--form input:-ms-input-placeholder,
.modal__inner--form button:-ms-input-placeholder {
  opacity: 0.7;
}

.modal__inner--form input::-ms-input-placeholder,
.modal__inner--form button::-ms-input-placeholder {
  opacity: 0.7;
}

.modal__inner--form input::placeholder,
.modal__inner--form button::placeholder {
  opacity: 0.7;
}

.modal__inner--form button {
  background: #6e774a;
  color: white;
  font-size: 1.2rem;
  border: none;
  padding-left: 0;
  font-weight: 500;
  cursor: pointer;
}

.modal__inner--form button:hover {
  opacity: 0.7;
}

.modal--is-visible {
  opacity: 1;
  display: block;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  z-index: 55;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 1.5rem;
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
  cursor: pointer;
  color: #6e774a;
}

.search {
  width: 30rem;
  max-width: 70%;
  height: 3rem;
  position: fixed;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 90px;
  right: 5%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: -54;
}

.search__input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 0.7rem;
  color: #6e774a;
  font-size: 1.2rem;
  font-weight: 300;
}

.search__btn {
  width: 20%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: #6e774a;
  font-size: 1.2rem;
  color: white;
}

.search--is-visible {
  opacity: 1;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 54;
}

.activeEnter {
  opacity: 1;
}

.notActiveForm {
  display: none;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .section-one__heading {
    font-size: 0.9rem;
  }
  .section-one__heading--logo {
    font-size: 1.8rem;
  }
  .section-one__heading--navigation {
    list-style-type: none;
    width: 40rem;
    margin: 0 2rem;
  }
  .section-one__heading--navigation__item {
    margin: 0 0.2rem;
  }
  .section-one__heading--navigation__item:hover {
    text-decoration: line-through;
    cursor: pointer;
  }
  .section-one__heading--userBlock {
    list-style-type: none;
    width: 40rem;
    margin: 0 2rem;
    padding-left: 7rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .section-one {
    position: relative;
  }
  .section-one__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: fixed;
    width: 100%;
    height: 40%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -3;
    padding-top: 1rem;
    opacity: 0;
    border-bottom: none;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .section-one__heading--is-visible {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 3;
  }
  .section-one__heading--logo {
    display: none;
  }
  .section-one__heading--logoForSmall {
    display: block;
    position: fixed;
    z-index: 2;
    top: 15px;
    left: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }
  .section-one__heading--navigation {
    width: 90%;
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2.7rem 0 0;
  }
  .section-one__heading--navigation__item {
    font-size: 1.1rem;
    padding: 0 1rem;
  }
  .section-one__heading--userBlock {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    margin: 0 auto;
    padding: 0 0;
  }
  .section-one__heading--userBlock__item {
    font-size: 1.1rem;
    margin: 0 1rem;
  }
  .section-one__content {
    margin: 0 0;
    padding-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    top: 45%;
    left: 0;
    -webkit-transform: translateY(-50%), translateX(-50%);
            transform: translateY(-50%), translateX(-50%);
  }
  .section-one__content--title {
    font-size: 2rem;
    line-height: 1.164;
    letter-spacing: 0.4rem;
    width: 100%;
  }
  .section-one__content--subtitle {
    font-size: 1.3rem;
  }
  .section-one__menu-icon {
    width: 20px;
    height: 19px;
    position: fixed;
    z-index: 99;
    top: 27px;
    right: 10px;
  }
  .section-one__menu-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #fff;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
  .section-one__menu-icon__middle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
  }
  .section-one__menu-icon::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #fff;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
  .section-one__menu-icon--close-x::before {
    -webkit-transform: rotate(45deg) scaleX(1.25);
            transform: rotate(45deg) scaleX(1.25);
  }
  .section-one__menu-icon--close-x .section-one__menu-icon__middle {
    opacity: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .section-one__menu-icon--close-x::after {
    -webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
  }
  .modal {
    min-width: 100%;
    height: 17rem;
    top: 3.5rem;
    right: 0;
  }
  .modal__inner--login {
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
  }
  .modal__inner--newAcc {
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
  }
  .modal__inner--form {
    width: 100%;
    margin-top: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .modal__inner--form input,
  .modal__inner--form button {
    height: 2.5rem;
    font-size: 1.1rem;
  }
  .modal__close {
    display: none;
  }
  .search {
    min-width: 100%;
    height: 3rem;
    top: 3.5rem;
    left: 0;
    background-color: rgba(255, 255, 255, 0.98);
  }
  .activeEnter {
    opacity: 1;
  }
  .notActiveForm {
    display: none;
  }
}

.section-three {
  position: relative;
  height: 45rem;
  background-color: #f7f8f3;
  padding-top: 3rem;
}

.section-three__title {
  text-align: center;
}

.section-three--carousel__container {
  width: 100vw;
  position: relative;
  margin: 3rem auto 0;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.section-three__carousel {
  width: 100vw;
}

.section-three__carousel--obj {
  position: relative;
  width: 32%;
  height: 500px;
  background-color: white;
}

.obj--title {
  text-align: center;
  font-size: 1.2rem;
  color: #1c1c1b;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 2rem;
  font-weight: 500;
}

.obj--foto {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.obj__info {
  height: 4.5rem;
  width: 100%;
  border: 1px solid #e1e1e1;
  text-transform: uppercase;
}

.obj__info--price {
  background-color: #e1e1e1;
  color: #1c1c1b;
  height: 100%;
  width: 70%;
  font-size: 18px;
  padding-left: 2rem;
}

.obj__info--btn {
  background: #6e774a;
  height: 100%;
  width: 30%;
  border: none;
  color: white;
  font-size: 1.25rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.5rem;
  cursor: pointer;
}

.obj__info--btn:hover {
  opacity: 0.8;
}

.slider-btn {
  position: absolute;
  bottom: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 1;
}

.slider-btn:hover {
  opacity: 0.5;
}

.slider-prev {
  left: 47%;
}

.slider-next {
  right: 47%;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .section-three {
    overflow: hidden;
  }
}

:root {
  --pseudo-text: '+';
}

.section-four {
  background-color: #f7f8f3;
  min-height: 33rem;
  padding-top: 1rem;
}

.containerAcc {
  width: 50%;
  margin: 0 auto;
}

.accordion {
  padding: 2rem 0;
  height: 100%;
}

.accordion__titMain {
  text-align: center;
}

.accordion__items {
  height: 100%;
}

.accordion__title {
  cursor: pointer;
  color: #6e774a;
  letter-spacing: 4px;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.8rem 0 0.5rem;
}

.accordion__title::before {
  content: var(--pseudo-text);
  font-size: 2rem;
  margin: 0 8px 5px;
}

.accordion__item {
  min-height: 60px;
  max-height: 200px;
  list-style: none;
  border-top: 3px solid #eaedde;
}

.accordion__item:nth-child(4) {
  border-bottom: 3px solid #eaedde;
}

.accordion__content {
  height: 0;
  opacity: 0;
  padding: 0 0 1rem 2rem;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.activeCon .accordion__content {
  height: 3rem;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 1024px) and (min-width: 549px) {
  .containerAcc {
    width: 70%;
    margin: 0 auto;
  }
  .accordion__title {
    letter-spacing: 3px;
    font-size: 1.1rem;
    font-weight: 300;
    padding-bottom: 13px;
  }
  .accordion__title::before {
    font-size: 1.8rem;
    margin: 0 5px 5px;
  }
  .activeCon .accordion__content {
    height: 4rem;
  }
}

@media screen and (max-width: 548px) and (min-width: 320px) {
  .section-four {
    background-color: #f7f8f3;
    min-height: 70vh;
  }
  .containerAcc {
    width: 95%;
    margin: 0 auto;
  }
  .accordion__title {
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 12px;
  }
  .accordion__title::before {
    font-size: 1.6rem;
    margin: 0 5px 5px;
  }
  .activeCon .accordion__content {
    height: 5rem;
  }
}

.section-six {
  position: relative;
  height: 50vh;
  background-color: #f7f8f3;
  padding-top: 3rem;
}

.section-six__title {
  width: 70%;
  margin: 0 auto;
  font-size: 3.5rem;
  color: #6e774a;
}

.section-six__navigation {
  width: 70%;
  margin: 0 auto;
  text-transform: uppercase;
  color: #6e774a;
}

.section-six__navigation--left {
  font-size: 1.2rem;
  list-style-type: none;
  text-align: center;
  width: 35%;
  line-height: 2.2rem;
  font-weight: 300;
  cursor: pointer;
}

.section-six__navigation--left > :hover {
  text-decoration: line-through;
  opacity: 0.7;
}

.section-six__navigation--right {
  font-size: 1.2rem;
  list-style-type: none;
  text-align: center;
  width: 35%;
  line-height: 2.2rem;
  font-weight: 300;
  cursor: pointer;
}

.section-six__navigation--right > li:hover {
  text-decoration: line-through;
  opacity: 0.7;
}

.section-six__navigation--social {
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-six__navigation--social__item {
  width: 3.5rem;
  cursor: pointer;
}

.section-six__navigation--social__item:hover {
  opacity: 0.8;
}

.section-six__email {
  text-align: center;
  width: 70%;
  margin: 2rem auto 0;
}

.section-six__email--title {
  font-size: 1.2rem;
  color: #1c1c1b;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.section-six__form {
  outline: none;
  border: 2px solid #6e774a;
  font-size: 0.9rem;
  width: 23rem;
  height: 4rem;
  margin: 0 auto;
}

.section-six__form > input {
  border: none;
  outline: none;
  width: 70%;
  background: none;
  font-size: 1.1rem;
  padding-left: 1rem;
}

.section-six__form > input::-webkit-input-placeholder {
  color: #6e774a;
}

.section-six__form > input:-ms-input-placeholder {
  color: #6e774a;
}

.section-six__form > input::-ms-input-placeholder {
  color: #6e774a;
}

.section-six__form > input::placeholder {
  color: #6e774a;
}

.section-six__btn {
  width: 29%;
  height: 100%;
  border: none;
  border-left: 2px solid #6e774a;
  background: none;
  outline: none;
  cursor: pointer;
}

.section-six__btn:hover {
  opacity: 0.7;
}

.section-six__sign {
  text-align: center;
  width: 70%;
  margin: 2.5rem auto 0;
  color: #6e774a;
}

@media screen and (max-width: 1224px) and (min-width: 1025px) {
  .section-six__line {
    display: none;
  }
  .section-six__title {
    width: 100%;
  }
  .section-six__title--cbd {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .section-six {
    height: 45vh;
    padding-top: 2rem;
  }
  .section-six__line {
    display: none;
  }
  .section-six__title {
    font-size: 3rem;
    width: 100%;
  }
  .section-six__title--cbd {
    margin: 0 auto;
  }
  .section-six__navigation {
    width: 75%;
    margin: 0 auto;
    text-transform: uppercase;
    color: #6e774a;
  }
  .section-six__navigation--left {
    font-size: 1.3rem;
    line-height: 2.4rem;
  }
  .section-six--right {
    font-size: 1.3rem;
    line-height: 2.4rem;
  }
  .section-six--social {
    font-size: 1.3rem;
  }
  __email {
    margin: 1.5rem auto 0;
  }
  __email--title {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .section-six {
    height: 30rem;
    padding-top: 2rem;
  }
  .section-six__line {
    display: none;
  }
  .section-six__title--cbd {
    margin: 0 auto;
    font-size: 3rem;
  }
  .section-six__navigation {
    width: 98%;
    margin: 0 auto;
    text-transform: uppercase;
    color: #6e774a;
  }
  .section-six__navigation--left {
    font-size: 1rem;
    line-height: 2.4rem;
  }
  .section-six__navigation--right {
    font-size: 1rem;
    line-height: 2.4rem;
  }
  .section-six__navigation--social {
    width: 25%;
    font-size: 1.2rem;
  }
  .section-six__email {
    width: 100%;
    margin: 1.5rem auto 0;
  }
  .section-six__email--title {
    font-size: 1.1rem;
  }
  .section-six__form {
    font-size: 0.9rem;
    width: 90%;
    height: 4rem;
    margin: 0 auto;
  }
  .section-six__form > input {
    border: none;
    outline: none;
    width: 60%;
    background: none;
    font-size: 1.1rem;
    padding-left: 1rem;
  }
}

.section-five {
  width: 100vw;
  position: relative;
  height: 50rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/bg-img2.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg-img2.png);
  background-position: center;
}

.section-five__slider {
  margin: 0 auto;
  border: 2px solid black;
  width: 50vw;
  height: 100%;
  overflow: hidden;
}

.section-five__testimonials {
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  overflow: hidden;
  top: 0;
  left: 0;
}

.section-five__testimonial {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.section-five__text {
  font-size: 1.25rem;
  line-height: 1.818;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-weight: 200;
  letter-spacing: 0.3rem;
}

.section-five__author {
  width: 10rem;
  height: 1.7rem;
  margin: 1rem 0 0;
}

.section-five__author--text {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 3.125;
  letter-spacing: 4px;
  font-weight: 300;
  width: 100%;
  margin-left: 1rem;
}

.section-five__arrows {
  position: absolute;
  bottom: 0;
}

.section-five__arrows--leftArr {
  background: none;
  border: 1px solid white;
  outline: none;
  border-bottom: none;
  padding: 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section-five__arrows--leftArr:hover {
  opacity: 0.6;
  cursor: pointer;
}

.section-five__arrows--rightArr {
  background: none;
  border: 1px solid white;
  outline: none;
  border-bottom: none;
  border-left: none;
  padding: 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-left: -4px;
}

.section-five__arrows--rightArr:hover {
  opacity: 0.6;
  cursor: pointer;
}

.arrow {
  width: 30px;
  height: 15px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .section-five__text {
    width: 80%;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .section-five__text {
    font-size: 1.4rem;
    line-height: 1.7;
    width: 88%;
  }
  .section-five__author--text {
    font-size: 1.5rem;
    line-height: 2.725;
    letter-spacing: 3px;
    font-weight: 300;
    width: 80%;
  }
  .section-five__arrows--leftArr {
    padding: 25px;
  }
  .section-five__arrows--rightArr {
    padding: 25px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oswald";
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.active {
  display: block;
}

.notactive {
  display: none;
}

.fa-long-arrow-right {
  font-weight: 900;
  opacity: 0.8;
}
