.section-one {
  position: relative;
  height: 100vh;
  @extend %flex-col;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(../img/bg-header.png);
  background-size: cover;
  background-position: center;

  &__heading {
    position: fixed;
    z-index: 111;
    @extend %flex-row;
    width: 100%;
    height: 5rem;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 1px solid white;

    &--logo {
      width: 33%;
      text-align: center;
      font-size: 1.9rem;
      font-weight: 500;
      &:hover {
        cursor: pointer;
      }
    }

    &--navigation {
      @extend %flex-row;
      list-style-type: none;
      width: 33%;
      margin-left: 3.5rem;

      &__item {
        text-decoration: none;
        color: white;
      }

      &__item:hover {
        text-decoration: line-through;
        cursor: pointer;
      }
    }

    &--userBlock {
      @extend %flex-row;
      justify-content: space-around;
      list-style-type: none;
      width: 33%;
      margin-right: 3.5rem;

      &__item:hover {
        text-decoration: line-through;
        cursor: pointer;
      }
    }
  }

  &__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translateY(-50%), translateX(-50%);

    &--title {
      font-size: 3.5rem;
      text-transform: uppercase;
      line-height: 1.364;
      letter-spacing: 0.5rem;
      width: 45rem;
      font-weight: 300;
    }

    &--subtitle {
      font-size: 1.5rem;
      color: rgb(247, 248, 243);
      letter-spacing: 0.2rem;
      font-weight: 100;
      opacity: 0.7;
      margin-bottom: 2rem;
    }

    &--transfer {
      font-size: 1.2rem;
      font-weight: 100;
      letter-spacing: 0.3rem;
      cursor: pointer;
      height: 3rem;
      @extend %flex-row;
      justify-content: flex-end;
      width: 20rem;
      margin: 0.2rem 0;
      vertical-align: middle;

      &__text {
        margin-right: 1rem;
      }
    }
  }

  &__arrow-down {
    cursor: pointer;
    position: absolute;
    transform: translateX(70%);
    bottom: 10%;
    right: 50%;

    &:hover {
      opacity: 0.6;
    }
  }
}

.activeTransfer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.heading-fill {
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  border-bottom: none;
}

.active {
  text-decoration: line-through;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.modal {
  width: 32rem;
  max-width: 70%;
  height: 19rem;
  position: fixed;
  opacity: 0;
  display: none;
  top: 90px;
  right: 15%;
  transition: all 2s ease-in-out;
  z-index: 55;
  background-color: rgba(255, 255, 255, 0.95);

  &__inner {
    &--enter {
      height: 2.5rem;
      width: 90%;
      text-align: left;
      padding-top: 12px;
      display: flex;
      justify-content: space-around;
      color: rgb(110, 119, 74);
    }

    &--login {
      cursor: pointer;
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
      font-size: 1.5rem;
    }

    &--newAcc {
      cursor: pointer;
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
      font-size: 1.5rem;
    }

    &--form {
      width: 100%;
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      transition: all 0.2s ease-in-out;

      input,
      button {
        width: 80%;
        height: 3rem;
        margin: 0.5rem auto;
        border: 1px solid rgb(110, 119, 74);
        border-radius: 3px;
        outline: none;
        color: rgb(110, 119, 74);
        padding-left: 0.5rem;
        font-size: 1.2rem;
        font-weight: 300;

        &::placeholder {
          opacity: 0.7;
        }
      }

      button {
        background: rgb(110, 119, 74);
        color: white;
        font-size: 1.2rem;
        border: none;
        padding-left: 0;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &--is-visible {
    opacity: 1;
    display: block;
    transition: all 1s ease-out;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 1.5rem;
    transform: scaleX(2);
    cursor: pointer;
    color: rgb(110, 119, 74);
  }
}

.search {
  width: 30rem;
  max-width: 70%;
  height: 3rem;
  position: fixed;
  opacity: 0;
  display: flex;
  top: 90px;
  right: 5%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 54;

  &__input {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 0.7rem;
    color: rgb(110, 119, 74);
    font-size: 1.2rem;
    font-weight: 300;
  }

  &__btn {
    width: 20%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(110, 119, 74);
    font-size: 1.2rem;
    color: white;
  }

  &--is-visible {
    opacity: 1;
    transition: all 0.2s ease-out;
  }
}

.activeEnter {
  opacity: 1;
}

.notActiveForm {
  display: none;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .section-one {
    &__heading {
      font-size: 0.9rem;
      &--logo {
        font-size: 1.8rem;
      }

      &--navigation {
        list-style-type: none;
        width: 40rem;
        margin: 0 2rem;

        &__item {
          margin: 0 0.2rem;
        }

        &__item:hover {
          text-decoration: line-through;
          cursor: pointer;
        }
      }

      &--userBlock {
        list-style-type: none;
        width: 40rem;
        margin: 0 2rem;
        padding-left: 7rem;
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .section-one {
    position: relative;

    &__heading {
      flex-direction: column-reverse;
      position: fixed;
      width: 100%;
      height: 35%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 3;
      opacity: 0;
      border-bottom: none;
      transform: scale(1.2);
      transition: all 0.3s ease-out;

      &--is-visible {
        opacity: 1;
        transform: scale(1);
        transition: all 0.3s ease-out;
      }

      &--logo {
        display: none;
      }

      &--navigation {
        width: 90%;
        height: 80%;
        flex-direction: column;
        margin: 2.7rem 0 0;
        &__item {
          font-size: 1.1rem;
          padding: 0 1rem;
        }
      }

      &--userBlock {
        width: 100%;
        justify-content: center;
        min-height: 20%;
        margin: 0 auto;
        // padding: 4rem 0 0;
        background-color: rgba(0, 0, 0, 0.9);

        &__item {
          font-size: 1.1rem;
          margin: 0 1rem;
        }
      }
    }

    &__content {
      margin: 0 0;
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      top: 45%;
      left: 0;
      transform: translateY(-50%), translateX(-50%);

      &--title {
        font-size: 2rem;
        line-height: 1.164;
        letter-spacing: 0.4rem;
        width: 100%;
      }

      &--subtitle {
        font-size: 1.3rem;
      }
    }

    &__menu-icon {
      width: 20px;
      height: 19px;
      position: fixed;
      z-index: 99;
      top: 15px;
      right: 10px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transform-origin: 0 0;
        transition: transform 0.3s ease-out;
      }

      &__middle {
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transition: all 0.3s ease-out;
        transform-origin: 0 50%;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transform-origin: 0 100%;
        transition: transform 0.3s ease-out;
      }
      &--close-x {
        &::before {
          transform: rotate(45deg) scaleX(1.25);
        }

        .section-one__menu-icon__middle {
          opacity: 0;
          transform: scaleX(0);
        }

        &::after {
          transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
      }
    }
  }

  .modal {
    min-width: 100%;
    height: 17rem;
    top: 45px;
    right: 0;

    &__inner {
      &--login {
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.2s ease-in-out;
        font-size: 1.2rem;
      }

      &--newAcc {
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.2s ease-in-out;
        font-size: 1.2rem;
      }

      &--form {
        width: 100%;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        transition: all 0.2s ease-in-out;

        input,
        button {
          height: 2.5rem;
          font-size: 1.1rem;
        }
      }
    }

    &__close {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }

  .search {
    min-width: 100%;
    height: 3rem;
    top: 45px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.98);
  }

  .activeEnter {
    opacity: 1;
  }

  .notActiveForm {
    display: none;
  }
}
