.section-four {
  background-color: $colorBG;
  min-height: 30rem;
  padding-top: 1rem;
}

.containerAcc {
  width: 50%;
  margin: 0 auto;
}
.accordion {
  transition: all 0.6s ease-in-out;
  padding-top: 2rem;

  &__titMain {
    text-align: center;
  }

  &__items {
    height: 100%;
  }
  &__title {
    cursor: pointer;
    color: #6e774a;
    letter-spacing: 4px;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 15px;

    &::before {
      content: '+';
      font-size: 2rem;
      margin: 0 8px 5px;
    }
  }

  &__item {
    min-height: 60px;
    max-height: 200px;
    list-style: none;
    border-top: 3px solid #eaedde;

    &:nth-child(4) {
      border-bottom: 3px solid #eaedde;
    }
  }

  &__content {
    display: none;
    padding: 0 0 1rem 2.5rem;
    transition: all 0.6s ease-in-out;
  }
}

.activeCon .accordion__content {
  display: block;
  transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 1024px) and (min-width: 549px) {
  .containerAcc {
    width: 95%;
    margin: 0 auto;
  }
  .accordion {
    &__title {
      letter-spacing: 3px;
      font-size: 1rem;
      font-weight: 300;
      padding-bottom: 12px;

      &::before {
        font-size: 1.6rem;
        margin: 0 5px 5px;
      }
    }
  }
}

@media screen and (max-width: 548px) and (min-width: 320px) {
  .section-four {
    background-color: $colorBG;
    min-height: 70vh;
  }

  .containerAcc {
    width: 95%;
    margin: 0 auto;
  }
  .accordion {
    &__title {
      letter-spacing: 3px;
      font-size: 1rem;
      font-weight: 300;
      padding-bottom: 12px;

      &::before {
        font-size: 1.6rem;
        margin: 0 5px 5px;
      }
    }
  }
}
