:root {
  --pseudo-text: '+';
}

.section-four {
  background-color: $colorBG;
  min-height: 33rem;
  padding-top: 1rem;
}

.containerAcc {
  width: 50%;
  margin: 0 auto;
}
.accordion {
  padding: 2rem 0;
  height: 100%;

  &__titMain {
    text-align: center;
  }

  &__items {
    height: 100%;
  }
  &__title {
    cursor: pointer;
    color: #6e774a;
    letter-spacing: 4px;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.8rem 0 0.5rem;

    &::before {
      content: var(--pseudo-text);
      font-size: 2rem;
      margin: 0 8px 5px;
    }
  }

  &__item {
    min-height: 60px;
    max-height: 200px;
    list-style: none;
    border-top: 3px solid #eaedde;

    &:nth-child(4) {
      border-bottom: 3px solid #eaedde;
    }
  }

  &__content {
    height: 0;
    opacity: 0;
    padding: 0 0 1rem 2rem;
    transform: scale(0.7);
  }
}

.activeCon .accordion__content {
  height: 3rem;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  transform: scale(1);
}

@media screen and (max-width: 1024px) and (min-width: 549px) {
  .containerAcc {
    width: 70%;
    margin: 0 auto;
  }
  .accordion {
    &__title {
      letter-spacing: 3px;
      font-size: 1.1rem;
      font-weight: 300;
      padding-bottom: 13px;

      &::before {
        font-size: 1.8rem;
        margin: 0 5px 5px;
      }
    }
  }
  .activeCon .accordion__content {
    height: 4rem;
  }
}

@media screen and (max-width: 548px) and (min-width: 320px) {
  .section-four {
    background-color: $colorBG;
    min-height: 70vh;
  }

  .containerAcc {
    width: 95%;
    margin: 0 auto;
  }
  .accordion {
    &__title {
      letter-spacing: 3px;
      font-size: 1rem;
      font-weight: 300;
      padding-bottom: 12px;

      &::before {
        font-size: 1.6rem;
        margin: 0 5px 5px;
      }
    }
  }
  .activeCon .accordion__content {
    height: 5rem;
  }
}
