@import 'variables';
@import 'tabs';
@import 'title';
@import 'header';
@import 'carousel';
@import 'main';
@import 'footer';
@import 'carousel2';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ffMain;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

.active {
  display: block;
}

.notactive {
  display: none;
}

.fa-long-arrow-right {
  font-weight: 900;
  opacity: 0.8;
}
